
body{
background-color: black;
color: white;
font-weight: bold;
}


.card{
    padding: 20px;
    background-color: #333;
    color: white;
}

.card-body{
    background-color: black;
}
.form-group{
    margin: 15px 0px;
}

.form-control{
    background-color: #333;
    color: white;
}
.form-control::placeholder{
    color: white;
    font-weight: bold;
}
.form-control:focus{
    background-color: #d3d3d3;
}

.none{
display: none;
}